.Pic {
    text-align: left;
    justify-content:flex-start;
    align-content: left;
    flex-direction:row;
    padding-left: 20px;
    padding-top: 20px;
    position: absolute;
}

.ProfileBox{
    justify-content: flex-start;
    flex-direction: row;
}

.userDetails{
    justify-content: flex-start;
    flex-direction: row;
    text-align: left;
}